body {
  font-family: "Roboto-bold", sans-serif;
}
table {
  width: 100%;
  font-weight: 100;
}
th {
  background-color: #1565c0;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th,
td {
  padding: 15px;
  text-align: left;
}
tr:hover {
  background-color: #5ca9f1;
  color: #ffffff;
}
/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  background-color: #1565c0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
input[type="text"]:focus {
  border-color: #1565c0;
  box-shadow: 0 0 8px 0 #1565c0;
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.container {
  width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.logout {
  background-color: red;
  color: white;
  width: 10%;
  float: right;
  font-weight: bold;
}
.searchTextBox {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 50% !important;
  background: #f1f1f1;
}
.sortIcon {
  width: 10px;
  height: 15px;
  float: "right" !important;
  cursor: pointer;
  color: "#ffffff";
}
.numberStyle {
  text-align: right;
}
.activeStatus {
  color: green;
  font-weight: bold;
}
.inactiveStatus {
  color: red;
  font-weight: bold;
}
.loginContainer {
  width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}
.headingLabel {
  font-weight: bold;
  float: left;
}
.left-half {
  width: 50%;
}
.right-half {
  margin-left: 20px;
}
.floatLeft {
  float: left;
}
.width30per {
  width: 30%;
}
